aiofiles
annotated-types
anyio
beautifulsoup4
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
colorclass
compressed-rtf
confection
cryptography
cymem
ebcdic
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
extract-msg
fastapi
filelock
fsspec
gradio
gradio_client
groovy
h11
httpcore
httpx
huggingface-hub
idna
jellyfish
Jinja2
joblib
langcodes
langdetect
language_data
lark
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
nltk
numpy
olefile
oletools
orjson
packaging
pandas
pillow
preshed
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
red-black-tree-mod
regex
requests
rich
RTFDE
safehttpx
safetensors
segtok
semantic-version
shellingham
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
tabulate
thinc
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
wasabi
weasel
websockets
wrapt
yake